.header img{
    height: 80px;
}
.header{
    text-align: center;
}

.header nav{
    background-color: #000;
    height: 40px;
    text-align: left;
    margin-bottom: 0;
    line-height: 30px;
}

nav a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    padding: 7px;
}
nav a:hover{
    background: gray;
}